{% extends 'attendance_app/user/base.html' %}

{% load static %}

{% block title %}

<title>Home</title>

{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'attendance_app/user/css/home.css' %}">
{% endblock %}


{% block body%}

<div class="container">
    <div class="user">
        <h1>{{ employee.user.username }} Accounts</h1>
    </div>
    <div class="user-info">
        <table>
            <tr>
                <th colspan="4">User Information</th>
                <th rowspan="4" id="img-th"><img src="{{employee.picture.url}}" alt="{{employee.user.username}}"
                        id="user-img"></th>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ employee.user.username }}</td>
                <th>ID</th>
                <td>{{ employee.id }}</td>

            </tr>
            <tr>
                <th>Department</th>
                <td>{{ employee.department }}</td>
                <!-- <th>Date OF BIRTH</th>
                <td>{{ employee.date_of_birth }}</td> -->
                <th>Status</th>
                {% if employee.user.is_active %}
                <td> Active </td>
                {% endif %}
            </tr>
            <tr>
                <th>Email</th>
                <td> {{ employee.user.email }} </td>
                <th>Joining Date</th>
                <td>{{ employee.joining_date }}</td>
            </tr>
        </table>

    </div>
</div>

<div class="user-attendance">
    <div class="heading">
        <h1>Attendance</h1>
    </div>
    <div class="attendance">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Entrance Time</th>
                    <th>Exit Time</th>
                    <th>Total Time</th>
                    <th>Attendance</th>
                </tr>
            </thead>

            <tbody>
                {% for attendance in attendances %}
                <tr>
                    <td>{{ attendance.date }}</td>
                    <td>{{ attendance.entrance_time }}</td>
                    {% if attendance.exit_time is not None %}
                    <td>{{ attendance.exit_time }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}

                    {% if attendance.total_time is not None %}
                    <td>{{ attendance.total_time }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    {% if attendance.status is not None %}
                    <td>{{ attendance.status }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No attendance information available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="link">
        <a id="attendance-detail" href="{% url 'attendance' %}">View-more</a>
    </div>
</div>


{% endblock %}