{% extends 'attendance_app/user/base.html' %}

{% load static %}

{% block title %}
<title>{{ employee.user.username }} | Profile</title>
{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'attendance_app/user/css/profile.css' %}">  
{% endblock %}

{% block body%}

    <div class="container">
        <div class="user">
            <h1>{{ employee.user.username }} Accounts</h1>
        </div>
        <div class="user-info">
            <div id="img-th">
                <img src="{{employee.picture.url}}" alt="{{employee.user.username}}" id="user-img">
            </div>
            <table>
                <tr>
                    <th colspan="4">User Information</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ employee.user.username }}</td>
                    <th>ID</th>
                    <td>{{ employee.id }}</td>
    
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{{ employee.department }}</td>
                    <!-- <th>Date OF BIRTH</th>
                    <td>{{ employee.date_of_birth }}</td> -->
                    <th>Status</th>
                    {% if employee.user.is_active %}
                        <td> Active </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Email</th>
                    <td> {{ employee.user.email }} </td>
                    <th>Joining Date:</th>
                    <td>{{ employee.joining_date }}</td>
                </tr>
            </table>
        </div>

        <div id="logout"><a href="{% url 'logout' %}"> <button>Log Out</button></a></div>
    </div>
{% endblock %}