* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

/* User information  */

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-bottom: 1px solid gray;
    /* border: 5px solid gray; */
    /* background-color: #eee; */
}

.container h1 {
    background-color: #333;
    color: white;
    border-bottom: 5px solid gray;
    vertical-align: middle;
    padding: 20px;
    margin: 0;

}

.container .user-info {
    display: flex;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container .user-info #img-th {
    width: 255px;
    border: 3px solid silver;
    margin-right: 0;
}

.container .user-info #img-th #user-img {
    margin: 0;
    padding: 15px;
    width: 100%;
    border-radius: 70%;
}


.container .user-info table {
    margin: 20px 5px ;
    margin-left: 0;
    padding: 20px;
    border-collapse: collapse;
    height: 260px;
    float: left;
}

.container .user-info th,
td {
    border: 2px solid silver;
    padding: 15px;
    text-transform: capitalize;
}

th {
    background-color: #f2f2f2;
    font-size: 20px;
}
.container #logout {

    align-items: center;
    text-align: center;
    margin: 0;

}

.container #logout button {
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    border: 2px solid #00ce9f;
    border-radius: 30px;
    width: 250px;
    text-align: center;
    font-size: x-large;
    color: #fff;
    background-color: #3A9;
    text-transform: uppercase;
}

.container #logout button:hover {
    background-color: #00ce9f;
    border-color: #3A9;
}


/* for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    

    .container {
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .user-info
    {
        flex-direction: column;
    }
    
    .user {
        width: 100%;
    }
    .container .user-info #img-th {
        width: 550px;
        border: 3px solid transparent;
    }

    #user-img {
        width: 70%;
        height: auto;
        border: 2px solid #00ce9f;
    }
}

/* for mobile phones */
@media only screen and (max-width: 767px) {


    .container {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
    }
    .container div {
        align-items: center;
        text-align: center;
    }

    .container .user-info
    {
        flex-direction: column;
        padding: 5px;
    }


    .container .user-info #img-th {
        width: 450px;
        border: 3px solid transparent;
        padding: 10px;
    }

    #user-img {
        height: auto;
        border: 2px solid #00ce9f;
    }
}