{% extends 'attendance_app/base.html' %}
{% load static %}
{% block title %}
<title>Add Employee </title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="card mt-3">
        <div class="card-body ">
            <div class="card-title text-center bg-dark text-white">
                <h3 class="pt-3">Register User</h3>
                <hr>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name" class="form-label">{{ form.first_name.label }}</label>
                            <input type="text" id="first_name" name="{{ form.first_name.name }}" class="form-control"
                                required>
                            <span class="text-danger">{{ form.first_name.errors}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name" class="form-label">{{ form.last_name.label }}</label>
                            <input type="text" id="last_name" name="{{ form.last_name.name }}" class="form-control"
                                required>
                            <span class="text-danger">{{ form.last_name.errors}}</span>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="form-label">{{ form.email.label }}</label>
                            <input type="email" id="email" name="{{ form.email.name }}" class="form-control" required>
                            <span class="text-danger">{{ form.email.errors}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dep" class="form-label">{{ form.department.label }}</label>
                            <input type="text" id="dep" name="{{ form.department.name }}" class="form-control" required>
                            <span class="text-danger">{{ form.department.errors}}</span>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="birth" class="form-label">{{ form.date_of_birth.label }}</label>
                            <input type="date" id="birth" name="{{ form.date_of_birth.name }}"
                                class="form-control datepicker" data-date-format="mm/dd/yyyy" required>
                            <span class="text-danger">{{ form.date_of_birth.errors}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="join" class="form-label">{{ form.joining_date.label }}</label>
                            <input type="date" id="join" name="{{ form.joining_date.name }}"
                                class="form-control datepicker" data-date-format="mm/dd/yyyy" required>
                            <span class="text-danger">{{ form.joining_date.errors}}</span>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="formFile" class="form-label">{{ form.picture.label }}</label>
                            <input class="form-control" type="file" id="formFile" name="{{ form.picture.name }}"
                                required>
                            <span class="text-danger">{{ form.picture.errors}}</span>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pass1" class="form-label">{{ form.password1.label }}</label>
                            <input type="password" id="pass1" name="{{ form.password1.name }}" class="form-control"
                                autocomplete="false" value="" required>
                            <span class="text-danger">{{ form.password1.errors}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pass2" class="form-label">{{ form.password2.label }}</label>
                            <input type="password" id="pass2" name="{{ form.password2.name }}" class="form-control "
                                autocomplete="false" value="" required>
                            <span class="text-danger">{{ form.password2.errors}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center mt-3">
                    <input type="submit" id="signin" value="Submit" class="btn btn-success px-5">
                    <br>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{%block js%}
<script src="{% static 'attendance_app/admin/js/validation.js' %}"></script>
{% endblock %}