<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>Personal Movie Recommendations</title>
    </head>
    <!--Navigation bar-->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                      <a class="navbar-brand" href="#">Movie Recommendations</a>
            </div>
        </div>
    </nav>

    <body>
    <!--Render Movie list as card columns here -->
    <div class="containder">
        <div class="card-columns">

            {% for movie in movie_list %}
            <div class="col-auto mb-3">
                <div class="card">
                    <!-- movie.poster_path -->
                    <img class="card-img-left" 
                    src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}"
                    alt="{{movie.original_title}}"
                    width="320px" height="400px"
                    >
                    <div class="card-body bg-light">
                        <h5 class="card-title">{{ movie.original_title }}</h5>
                        <p class="card-text">
                            Genres: <b>{{movie.genres}}</b>
                        </p>
                        <p class="card-text">
                            Rating: <b>{{ movie.vote_average }}</b>
                        </p>
                        <p class="card-text">
                            {{ movie.original_language}}, {{ movie.release_date}}
                        </p>


                    </div>
                </div>

            </div>

            {% endfor %}
        </div>
    </div>
    </body>

</html>