

p{
    padding: 20px;
    margin-top: 50px;
}

form
{
    padding: 50px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
form a,input
{
    width: 180px;
    padding: 5px 30px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
}

input
{
    background-color: red;
}