{% extends 'registration/base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock %}
{% block body%}
</div class="text-danger text-center">
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
<div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="card-title pb-1">
          <h3>Reset Password</h3>
        </div>
        <div class="card-text">
          <p>we'll send you an email to set new password</p>
        </div>
        {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
        {% endif %}
        <hr>
        <form method="POST" class="form">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_email" class="form-label">{{form.email.label}}</label>
            <input type="email" id="id_email" name="{{ form.email.name }}" class="form-control"
              placeholder="Enter email">
            {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors|join:", " }}</div>
            {% endif %}
          </div>
          <div class="text-center">
            <input type="submit" value="Send me instructions!" class="btn btn-primary my-3">
          </div>
          <hr>
          <div class="text-end">
            <p>Remembered your password? <a href="{% url 'login' %}" class="text-decoration-none">Signin</a></p>
          </div>
        </form>
      </div>
    </div>
    {%endblock%}