{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
      table,th,td
      {
        border: 2px solid silver;
        border-collapse: collapse;
      }
    </style>
</head>
<body>

  <h2>Welcome {{ admin.username }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th colspan="3">Total Employees</th>
        <th colspan="2">{{employees.count}}</th>
      </tr>
      <tr>
        <th>ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Dob</th>
        <th>joining_date</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.id}}</td>
          <td>{{ employee.user.username }}</td>
          <td>{{ employee.department}}</td>
          <td>{{ employee.date_of_birth }}</td>
          <td>{{ employee.joining_date }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No Employee </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {%comment %}
  {%endcomment%}
  <p><img src="{% static employee.picture.url %}" alt="{{employee.user.username}}"></p>
    <h3>Attendance Information</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>ID</th>
          <th>Name</th>
          <th>Entrance Time</th>
          <th>Exit Time</th>
          <th>Total Time</th>
        </tr>
      </thead>
      <tbody>
        {% for attendance in attendances %}
          <tr>
            <td>{{ attendance.date }}</td>
            <td>{{ attendance.employee.id }}</td>
            <td>{{ attendance.employee.user.username }}</td>
            <td>{{ attendance.entrance_time }}</td>
            {% if attendance.exit_time is not None %}
                 <td>{{ attendance.exit_time }}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            {% if attendance.total_time is not None %}
                <td>{{ attendance.total_time }} minutes</td>
            {% else %}
                <td>-</td>
            {% endif %}
            
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No attendance information available.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    
</body>
</html>